.container {
    text-align: center;
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  h2 {
    color: #2563eb
  }
  
  .subtitle {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  /* Estilo para a navegação entre meses */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .navButton {
    background-color: #333;
    color: #333;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
  }
  
  .navButton:hover {
    background-color: #2563eb;
  }
  
  /* Estilo para os dias do mês */
  .calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    max-width: 350px;
    margin: auto;
  }
  
  .dayButton {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #333;
    background-color: #333;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .dayButton:hover {
    background-color: #2563eb;
  }
  
  .dayButton.selected {
    background-color: #2563eb;
    color: white;
  }
  
  /* Estilo para os horários */
  .timeList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .timeButton {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #333;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .timeButton:hover {
    background-color: #2563eb;
    color: white;
  }
  
  /* Estilo para horários ocupados */
  .timeButton.occupied {
    background-color: #e0e0e0;
    color: #999;
    cursor: not-allowed;
  }
  
  .timeButton:disabled {
    background-color: #e0e0e0;
    color: #999;
    cursor: not-allowed;
  }
  